.plans {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--text);
  padding: 48px 200px;
}
.plans > .title {
  font-size: 36px;
}
.plans .plan-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.plans .plan-list .plan-item {
  background: var(--card);
  box-shadow: var(--shadow);
  width: 250px;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.plans .plan-list .plan-item > .logo {
  width: 36px;
  border-radius: 25px;
  overflow: hidden;
}
.plans .plan-list .plan-item > .title {
  font-size: 18px;
}
.plans .plan-list .plan-item > .desc {
  font-size: 14px;
  color: var(--second);
}
.plans .plan-list .plan-item > .price {
  font-size: 24px;
}
.plans .plan-list .plan-item > .plan-btn {
  background: var(--primary);
  border-radius: 6px;
  height: 36px;
}
.plans .plan-list .plan-item > .features {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  color: var(--second);
}
.plans .plan-list .plan-item > .features > .feature-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.plans .plan-list .plan-item > .seperator {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--second);
}
.plans .plan-list .plan-item > .seperator .sep-txt {
  font-size: 10px;
  min-width: max-content;
}
.plans .plan-list .plan-item > .seperator .sep-div {
  background: var(--second);
  width: 100%;
  height: 1px;
}
.plans .plan-list .plan-item .extras {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
}
.plans .plan-list .plan-item .extras .extra-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--second);
}
